@charset "utf-8";
/*个人中心页面设置*/
.h1_mingzi{
	width: 97%;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 3%;
	
}
.h1_mingzi h1{
	font-size: 50px;
	font-weight: bold;
	color: #000;
	
}


.gr_zhuti{
	width: 97%;
	margin-left: 3%;
}
.zuo{ width:350px; height:auto;  float:left; display:inline;}


/*创建一个新对象*/
.chuangjian_duixiang{ margin-bottom:30px;}
.chuangjian_duixiang ul{ float:left; margin:20px; display:inline; }
.chuangjian_duixiang ul ol{ font-size:18px;}
.chuangjian_duixiang ul li{ font-size:12px; margin-top:5px; color:#CCC;}
.chuangjian_duixiang a{ width:350px; height:80px; display:block; background-color:#339; color:#FFF;}
.chuangjian_duixiang a:hover{ background-color:#F60;}


/*头像上传*/
.touxiang_da{ width:350px; height:380px;; background-color:#999; margin-bottom:30px;}
.touxiang_da ul{
	background-color: #090;
	list-style-type: none;
}
.touxiang_da ul ol{ height:350px; background-color:#CCC;}
.touxiang_da ul li{ height:30px; background-color:#000; color:#FFF; line-height:30px;}
.touxiang_da ul li a{ height:30px; line-height:30px; display:block; padding-left:20px; font-size:14px;}






/*基本资料*/
.jibenziliao{ width:350px; height:250px; background-color:#09F; margin-bottom:30px;}
.jibenziliao ul{list-style-type:none; margin:20px; float:left; display:inline;}
.jibenziliao ul ol {color:#FFF; font-family:'黑体'; font-size:26px; margin-bottom:30px;}
.jibenziliao ul li{ font-size:14px; margin-bottom:10px; float:left; width:100%;display:inline;}
.jibenziliao ul li b{ width:80px; display:block;  float:left;display:inline;}
.jibenziliao ul li a{ color:#fff;}

/*不同颜色的色块*/
.sekuai_jvhuang{ background-color:#F7931E;}



/*右边*/

.you{ width:400px; height:1500px; background-color:#F0F0F0; margin-left:30px; float:left; display:inline;}
.you .biaoti{  font-size:26px; font-family:'黑体'; margin:20px; display:inline; width:340px; float:left; color:#09F;}
.you .daohang{ float:left; background-color:#09F; height:30px; width:100%; margin-bottom:20px;}
.daohang div{ float:right; display:inline; width:auto; }

.daohang div a { color:#FFF; display:block; height:30px; line-height:30px; padding-left:10px; padding-right:10px; font-size:14px; float:left;}

.you .neirong{ float:left;  height:auto; width:380; margin-left:10px; margin-right:10px; margin-bottom:20px; font-size:13px; }
