@charset "utf-8";
/* CSS Document */
.zhuti{
	width: 635px;
	height: 580px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
}

.logo{ font-family:'微软雅黑','黑体'; font-size:75px; color:#09F;}

.denglu {
	width: 100%;
	font-size: 16px;
	height: 25px;
	font-size: 12x;
	margin-top: 90px;

}
.denglu ul li {
	list-style-type: none;
	float: left;
	margin-right: 15px;
	line-height: 30px;
	height:30px;
	width:auto;
	
}
.div-1{ float:left;line-height: 30px;height:30px; padding-right:5px;}
.div-2{ float:left; }
.wenbenkuang{
	width: 200px;
	height: 27px;
	line-height:27px;
	border: 2px solid #09F;
	font-size: 14px;
	background-color: #FBF6EE;
}
.denglu-anniu{width:70px; height:30px; background-color:#09F;border: 0px solid #0071BC; color:#FFF;}
p{float:left; width:100%;font-family:'微软雅黑', '黑体';}


.xuanchuan{ margin-top:60px; }
.txt-huise{font-size:27px; color:#666666;}
.txt-huise i{color:#09F;}