@charset "utf-8";
/* CSS Document */
.zhuti{
	width: 600px;
	height: 580px;
	margin-top: 50px;
	float: left;
	margin-left: 130px;
	display: inline;
}



.zhuti h1{
	font-weight: normal;
	font-size:50px;
	color:#29ABE2;
}

.zhuce {
	width: 100%;
	font-size: 16px;
	height: auto;
	font-size: 12x;
	margin-top: 50px;
	

}


.zhuce ul li {
	list-style-type: none;
	float: left;
	margin-right: 15px;
	line-height: 30px;
	height: auto;
	width: 100%;
	display: inline;
	margin-bottom: 30px;
}
.touxiang{
	width: 350px;
	height: 350px;
	background-color: #333;
	float: left;
	margin-left: 195px;
	border: 1px solid #CCC;
}


.div-1{ float:left;line-height: 30px;height:30px;  width:auto; font-size:26px; color:#666666;}
.div-2{ float:left; width:auto; }
.wenbenkuang{
	width: 338px;
	height: 27px;
	line-height:27px;
	border: 2px solid #29ABE2;
	font-size: 14px;
	background-color: #FBF6EE;
}
.flie_shangchuan{
	width: 180px;
	height: 27px;
	line-height:27px;
	
	
	
}

.zhuce-anniu{
	width: 70px;
	height: 30px;
	background-color: #29ABE2;
	border: 0px solid #0071BC;
	color: #FFF;
	margin-left: 478px;
	
}
