@charset "utf-8";
/* CSS Document */
.zhuti{
	width: 600px;
	height: 580px;
	margin-top: 50px;
	float: left;
	margin-left: 130px;
	display: inline;
	font-family:'微软雅黑';
}



.zhuti h1{
	font-weight: normal;
	font-size:50px;
}

.zhuti p{ font-size:78px; color:#09F;}

.zhuce {
	width: 100%;
	font-size: 16px;
	height: auto;
	font-size: 12x;
	margin-top: 50px;

}


.zhuce ul li {
	list-style-type: none;
	float: left;
	margin-right: 15px;
	line-height: 30px;
	height: 30px;
	width: 100%;
	display: inline;
	margin-bottom: 30px;
}
.div-1{ float:left;line-height: 30px;height:30px; padding-right:5px; width:70px;}
.div-2{ float:left; }
.wenbenkuang{
	width: 350px;
	height: 27px;
	line-height:27px;
	border: 2px solid #09F;
	font-size: 14px;
	background-color: #FBF6EE;
}
.zhuce-anniu{width:70px; height:30px; background-color:#09F;border: 0px solid #0071BC; color:#FFF; margin-left:357px;}
